.CodeCell {
	height: calc(100% - 10px);
	display: flex;
	flex-direction: row;
}

.CodeCell .background {
	height: 100%;
	background-color: white;
	flex-grow: 1;
}

.CodeCell .progress-bar {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 10%;
	animation: fadeIn 0.8s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
